/*body {
    text-align: center;
}*/

/*.googleMap {
    display: flex;
    justify-content: center;
}*/

.main-container {
    text-align: center;
}

#map { /* Map adjustments */
    height: 200px;
    width: 320px;
    border-radius: 3px;
    /*text-align: center;*/
}

.googleMap {
    display: flex;
    justify-content: center;
}






.tA textarea {
    width: 320px;
}

.tA {
    padding: 8.5px;
}